html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}

.done-btn {
    display: none;
}

li {
    list-style: none;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: 2em;
}
